/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 20px;
 overflow: hidden;
 height: auto;

}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;

}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline;
 float: left;


}
#main_content{
 height: 400px;
 width: 720px;
 background-color: red;
 float: right;
 padding-right:10px;
 
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 float: left;
 display: inline;
 margin:10px;

}
#advertisement{
 height: 120px;
 width: 670px;
 background-color: purple;
 display: inline-block;
 float: bottom;
 margin:10px;

}